* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100%;
    background-color: rgb(210, 229, 245);
    margin: 0 auto;
    padding: 20px 0;
}

.twitter {
    display: grid;
    place-items: center;
    font-size: 40px;
    line-height: 25px;
    margin: 100px 0;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px auto;
    padding: 20px;
    border-radius: 10px;
    max-width: 750px;
}


.title-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.text-box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 450px;
}

