* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    height: 100%;
    background-color: rgb(215, 204, 204);
}

.title {
    display: grid;
    place-items: center;
    font-size: 50px;
    line-height: 35px;
    padding: 100px 20px;
}

.list-item {
    padding: 20px;
}

.list-item p {
    padding: 10px;
}

.list-number {
    font-size: 20px;
    color: #33549a;
}

.list-item > span::after {
    content: "\2713";
    padding: 5px;
}
